POSTGRES_DB=todo_list
POSTGRES_USER=todo
POSTGRES_PASSWORD=todo
DATABASE_URL=postgresql+psycopg://todo:todo@postgres:5432/todo_list
SUPABASE_JWT_SECRET=
BACKEND_CORS_ORIGINS=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
